<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>FoodPage</title>
<h2>Food Items</h2>
</head>
<body>
<form action="####" method="post">
	<tr>
	<td>FoodItem</td>
	<td>:</td>
	<td><input type="text" placeholder="food name" name="foodName"></td>
	<br>
	<tr>
	<td>Session</td>
	<td>:</td>
	<td>
		<select>
			<option name="morning">Morning</option>
			<option name="afternoon">Afternoon</option>
			<option name="evening">Evening</option>
			<option name="night">Night</option>
		</select>
	</td>
	</tr>
	<br>
	<button type="submit name="btn1"></button>
	
	</form>
</body>
</html>